.all{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title{
}

.camps{
}

.camp{
    border-radius: 15px;
    height: 200px;
    width: 300px;
    background-size: 100%;
    margin: 8px;
}
.line{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 150px;
    border-radius: 0px 0px 15px 15px;
    background-color: rgba(0, 0, 0, 0.6);
    height: 50px;
    width: 100%;
}

.name{
    color: white;
}